<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body text-warning">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="pe-7s-culture"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p>Edifícios</p>
                <h3><%= @buildings %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats text-danger">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="pe-7s-exapnd2"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p>Salas</p>
                <h3><%= @rooms %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body text-success">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="pe-7s-map-marker"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p>Pontos</p>
                <h3><%= @points %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats">
        <div class="card-body text-info">
          <div class="row">
            <div class="col-5">
              <div class="icon-big text-center">
                <i class="pe-7s-map-2"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p>Plantas</p>
                <h3><%= @plans %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
