//= require leaflet/draw/leaflet.draw.css
//= require leaflet/easy-button
//= require sweetalert2

.leaflet-div-icon {
    border: 1px solid #666;
    width: 10px !important;
    height: 10px !important;
    background: #666 !important;
    border-radius: 50%;
    margin: -5px !important;
}

.swal2-container.in {
  opacity: 1;
  z-index: 1;
}
